<div class="row">
    <div class="col-sm-12">
      <h4 class="page-title">Los 4 Rubros mas Demandados</h4>
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Rubros</li>
      </ol>
    </div>
  </div>
  <form [formGroup]="reporteForm" (ngSubmit)="generarReporte()">
  <div class="row">
      <div class="col-sm-12">
          <div class="card-box">
              <div class="row">
                  <div class="col-lg-10">
                      <h4 class="m-t-0 header-title"><b>Rubros mas Demandados</b></h4>
                      <p class="text-muted font-13 m-b-30">
                         Seleccione el rango de fechas el que desee consultar los rubros mas demandados y luego clic
                         en actualiza y podra visualizar la cantidad de los 4 rubros mas Demandados en el rango de fecha seleccionado.
                          Si no elige fecha se muestra el total del mes en curso.
                      </p>
                  </div>
                  <div class="col-xs-12">
                      <label>Desde</label>
                      <div class="input-group m-b-15">
                          <input type="date" formControlName="fechaDesde" name="fechaDesde" class="form-control" style="width: 200px;">
                      </div><!-- input-group -->
                        <label>Hasta</label>
                        <div class="input-group m-b-15">
                          <input type="date" formControlName="fechaHasta" name="fechaHasta" class="form-control" style="width: 200px;">
                        </div><!-- input-group -->
                      <div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light btn-xs">Actualizar</button>
                      </div>
                      <div>
                        <div style="display: block">
                            <canvas 
                            baseChart [datasets]="barChartData" 
                            [labels]="barChartLabels" 
                            [options]="barChartOptions"
                            [legend]="barChartLegend" 
                            [chartType]="barChartType" 
                            (chartHover)="chartHovered($event)" 
                            (chartClick)="chartClicked($event)"></canvas>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </form>
  
  