<div class="row">
    <div class="col-sm-12">
    <h4 class="page-title">Usuarios Destacados</h4>
    <ol class="breadcrumb">
    <li><a [routerLink]="['/sios/dashboard']" href="" >Dashboard</a></li>
    <li class="active">Destacados</li>
    </ol>
</div>
</div>
<form [formGroup]="form" (ngSubmit)="generarReporte()">
          <div class="card-box">
              <div class="row">
                  <div class="col-lg-10">
                      <h4 class="m-t-0 header-title"><b>Usuarios Destacados</b></h4>
                      <p class="text-muted font-13 m-b-30">
                         Seleccione el rango de fechas el que desee consultar los usuarios destacados y luego clic
                         en "Filtrar" y podrá visualizar la cantidad usuarios destacados en el rango de fecha seleccionado.
                          
                      </p>
                  </div>
                  <div class="col-xs-12">
                    <label>Desde</label>
                    <div class="input-group m-b-15">
                        <input type="date" formControlName="fechaDesde"  name="fechaDesde" class="form-control" style="width: 200px;">
                    </div><!-- input-group -->
                        <label>Hasta</label>
                    <div class="input-group m-b-15">
                        <input type="date" formControlName="fechaHasta"  name="fechaHasta" class="form-control" style="width: 200px;">
                    </div><!-- input-group -->
                    <div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light btn-xs">Filtrar</button>
                    </div>
                    <br>
                    <div class="row" *ngIf="showReporte">
                        <div class="col-sm-12">
                            <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>Destacados</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Usuarios destacados
                                </p>
                                <table id="demo-foo-row-toggler" class="table toggle-circle table-hover">
                                    <thead>
                                        <tr>
                                            <th data-toggle="true"> Nombre </th>
                                            <th> Apellido </th>
                                            <th data-hide="phone"> Username </th>
                                            <th data-hide="all"> Fecha Destacado </th>
                                            <th data-hide="all"> Accion </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of usuarios">
                                            <td>{{item.nombre}}</td>
                                            <td>{{item.apellido}}</td>
                                            <td>{{item.nombreUsuario}}</td>
                                            <td>{{item.fechaDestacado | date:'dd/MM/yyy'}}</td>
                                            <td><span [routerLink]="['/sios/perfil-oferente',item.idUsuario]" class="btn btn-xs btn-success">Detalle</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
</form>
  
  