<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card-box">
        <div class="row">
          <div class="col-md-12">
            <h4 class="m-t-0 header-title"><b>Perfil del usuario</b></h4>
            <p class="text-muted m-b-30 font-13">
              Se muestra el perfil del usuario seleccionado.
            </p>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <div class="card-box p-b-0">
                <a href="javascript:;" class="center-block text-center text-dark">
                  <img [src]="imagen" class="thumb-lg img-thumbnail img-circle" alt="">
                  <div class="h5 m-b-0"><strong> {{usuario?.nombre}} {{usuario?.apellido}}</strong></div>
                </a>
                <div class="bg-custom pull-in-card p-20 widget-box-two m-b-0 m-t-30 list-inline text-center row">
                  <div class="col-xs-4" *ngIf="usuario != null && usuario.usuarioRubros.length > 0">
                    <h4 class="text-white m-0 font-600">{{usuario?.usuarioRubros[0].rubro.nombreRubro}}</h4>
                    <p class="text-white m-b-0"></p>
                  </div>
                  <div class="col-xs-4">
                    <h4 class="text-white m-0 font-600">Estrellas</h4>
                    <p class="text-white m-b-0">{{usuario?.promedioCalificacion}}</p>
                  </div>
                  <div class="col-xs-4">
                    <h4 class="text-white m-0 font-600">{{usuario?.mail}}</h4>
                    <p class="text-white m-b-0"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-12" *ngIf="showTablaCertificados">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Certificados</b></h4>
          <p class="text-muted m-b-30 font-13">
            A continuación, se muestran los certificados del usuario para el rubro seleccionado.
          </p>
          <table id="demo-foo-row-toggler" class="table toggle-circle table-hover">
            <thead>
              <tr>
                <th data-toggle="true"> Fecha </th>
                <th> Nombre </th>
                <th data-hide="all"> Archivo Adjunto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of certificados">
                <td>{{item.fechaCertificado}}</td>
                <td>{{item.nombreCertificado}}</td>
                <td><span class="btn btn-xs btn-success" (click)="visualizarArchivo(item.idAdjunto)">Visualizar archivo</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="!showTablaCertificados">
          <div class="card-box">
            <h4 class="m-t-0 header-title"><b></b></h4>
            <p class="text-muted m-b-30 font-13">
              No tiene certificados adjuntos por el momento.
            </p>
          </div>
      </div>
      <div class="col-sm-12" *ngIf="showTablaExperiencias">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Experiencias</b></h4>
          <p class="text-muted m-b-30 font-13">
            A continuación, se muestran las experiencias que tiene el usuario para el rubro seleccionado.
          </p>
          <table id="demo-foo-row-toggler" class="table toggle-circle table-hover">
            <thead>
              <tr>
                <th data-toggle="true"> Descripción </th>
                <th> Fecha desde </th>
                <th data-hide="all"> Fecha Hasta</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of experiencias">
                <td>{{item.descripcion}}</td>
                <td>{{item.fechaDesde | date:'dd/MM/yyyy'}}</td>
                <td>{{item.fechaHasta | date:'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="!showTablaExperiencias">
          <div class="card-box">
            <h4 class="m-t-0 header-title"><b></b></h4>
            <p class="text-muted m-b-30 font-13">
              No tiene experiencias adjuntas por el momento.
            </p>
          </div>
      </div>
    </div>
  </div>