<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card-box">
        <div class="row">
          <div class="col-md-12">
            <h4 class="m-t-0 header-title"><b>Perfil del usuario</b></h4>
            <p class="text-muted m-b-30 font-13">
              Se muestra el perfil del usuario seleccionado.
            </p>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <div class="card-box p-b-0">
                <a href="javascript:;" class="center-block text-center text-dark">
                  <img src="../../../../assets/images/avatar-1.jpg" class="thumb-lg img-thumbnail img-circle" alt="">
                  <div class="h5 m-b-0"><strong> Leonardo Sebastian Ruiz</strong></div>
                </a>
                <div class="bg-custom pull-in-card p-20 widget-box-two m-b-0 m-t-30 list-inline text-center row">
                  <div class="col-xs-4">
                    <h4 class="text-white m-0 font-600">AngularJS Ssr</h4>
                    <p class="text-white m-b-0"></p>
                  </div>
                  <div class="col-xs-4">
                    <h4 class="text-white m-0 font-600">Estrellas</h4>
                    <p class="text-white m-b-0">4/5</p>
                  </div>
                  <div class="col-xs-4">
                    <h4 class="text-white m-0 font-600">seba.lruiz@gmail.com</h4>
                    <p class="text-white m-b-0"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-12">
        <div class="card-box">
          <h4 class="m-t-0 header-title"><b>Certificados</b></h4>
          <p class="text-muted m-b-30 font-13">
            A continuación, se muestran los certificados del ususario, como asi tambien la experiencia que tiene para los rubros en los que se destaca.
          </p>
          <table id="demo-foo-row-toggler" class="table toggle-circle table-hover">
            <thead>
              <tr>
                <th data-toggle="true"> Nombre </th>
                <th> Rubro </th>
                <th data-hide="all"> Experiencia</th>
                <th data-hide="all"> Accion </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ingeniero En Sistemas</td>
                <td>Sistemas</td>
                <td><span class="btn btn-xs btn-success">Ver</span></td>
                <td><span class="btn btn-xs btn-danger">Ver</span></td>
              </tr>
              <tr>
                <td>Ingeniero En Sistemas</td>
                <td>Sistemas</td>
                <td><span class="btn btn-xs btn-success">Ver</span></td>
                <td><span class="btn btn-xs btn-danger">Ver</span></td>
              </tr>
              <tr>
                <td>Curso Udemy</td>
                <td>Sistema</td>
                <td><span class="btn btn-xs btn-success">Ver</span></td>
                <td><span class="btn btn-xs btn-danger">Ver</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>