
<div class="row">
    <div class="col-sm-12">
       
        <h4 class="page-title">DashBoard</h4>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/sios/home']" >Home</a>
            </li>
            
            <li class="active">
                DashBoard
            </li>
        </ol>
        <p class="text-muted page-title-alt">Bienvenido al panel de Administrador de SIOS</p>
    </div>
      
  </div>


<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box fadeInDown animated">
            <div class="bg-icon bg-icon-info pull-left">
                <i class="md md-attach-money text-info"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b class="counter">{{cantidadUsuariosDestacados}}</b></h3>
                <p class="text-muted">Usuarios destacados</p>
                <button  (click)="spinerUsuariosDestacados()" class="btn btn-danger btn-custom waves-effect waves-light btn-xs">Ver </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-pink pull-left">
                <i class="fa fa-users text-pink"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b class="counter">{{cantidadUsuariosRegistrados}}</b></h3>
                <p class="text-muted">Usuarios registrados</p>
                <button (click)="spinerUsuariosRegistrados()" class="btn btn-danger btn-custom waves-effect waves-light btn-xs">Ver </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-purple pull-left">
                <i class="ion ion-ios7-world-outline text-purple"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b class="counter">{{cantidadUsuariosEnLinea}}</b></h3>
                <p class="text-muted">Usuarios en línea</p>
                <button (click)="spinerUsuariosEnLinea()" class="btn btn-danger btn-custom waves-effect waves-light btn-xs">Ver </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-bg-color-icon card-box">
            <div class="bg-icon bg-icon-success pull-left">
                <i class="md md-remove-red-eye text-success"></i>
            </div>
            <div class="text-right">
                <h3 class="text-dark"><b class="counter">{{cantidadDestacadosPorVencer}}</b></h3>
                <p class="text-muted">Destacados por vencer</p>
                <button (click)="spinerUsuariosPorVencer()" class="btn btn-danger btn-custom waves-effect waves-light btn-xs">Ver </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



            <form [formGroup]="reporteDestacadoForm" (ngSubmit)="generarGraficoBarras()">
                <div class="col-lg-6" id="reporteDestacadosYRegistrados">
                    <div class="card-box">
                        <h4 class="text-dark header-title m-t-0">Usuarios Registrados y Destacados</h4>
                        
                        <p class="text-muted font-13 m-b-30">
                            Seleccione el rango de fechas el que desee consultar los usuarios destacados. El gráfico mostrará los usuarios 
                            destacados junto a la cantidad de usuarios registrados. 
                        </p>
                        
                        <label>Desde</label>
                        <div class="input-group m-b-15">
                            <input type="date" name="fechaDesde" formControlName="fechaDesde" class="form-control" style="width: 200px;">
                        </div><!-- input-group -->
                        <label>Hasta</label>
                        <div class="input-group m-b-15">
                            <input type="date" name="fechaHasta" formControlName="fechaHasta" class="form-control" style="width: 200px;">
                        </div><!-- input-group -->
                        <div>
                        <button [disabled]="!reporteDestacadoForm.valid" type="submit" class="btn btn-primary waves-effect waves-light btn-xs">Generar Gráfico</button>
                        <div *ngIf="showGraficoBarras"><a class="pull-right" style="cursor: pointer;" (click)="exportarPDF()"><i class="fa fa-file-pdf-o"> Exportar a PDF</i></a></div>
                    </div>
                        <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div  style="display: block">
                                    <canvas baseChart *ngIf="showGraficoBarras"
                                            [datasets]="barChartData"
                                            [labels]="barChartLabels"
                                            [options]="barChartOptions"
                                            [legend]="barChartLegend"
                                            [chartType]="barChartType"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)"></canvas>
                                </div>
                                <div class="card-box">
                                    <div class="row" *ngIf="!showGraficoBarras && showError">
                                        <p class="text-muted font-13 m-b-30">
                                            No existen datos para las fechas elegidas.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </form>

            <div class="col-lg-6">
                <div class="card-box">
                    <h4 class="text-dark header-title m-t-0">Usuarios Destacados en el tiempo</h4>
                    
                    <p class="text-muted font-13 m-b-30">
                      Este gráfico muestra la cantidad de usuarios destacados y registrados en los últimos 3 meses.
                   </p>
                   
                   
                   <div>

                    <div class="row">
                      <div class="col-md-12">
                        <div style="display: block;">
                            <canvas baseChart width="400" height="400"
                                        [datasets]="lineChartData"
                                        [labels]="lineChartLabels"
                                        [options]="lineChartOptions"
                                        [colors]="lineChartColors"
                                        [legend]="lineChartLegend"
                                        [chartType]="lineChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>




          <div id="spinerDash" class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="mySmallModalLabel">Cargando...</h4>
                    </div>
                    <div class="modal-body text-center">
        
                        <span class="fa fa-spin fa-refresh fa-5x"></span>
                    </div>
                </div>
            </div>
        </div>
        

        <div id="modalFecha" style="display: none;">
            <div class="sweet-alert showSweetAlert" tabindex="-1" data-backdrop="static" data-has-cancel-button="true" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-timer="null" style="display: block; margin-top: -165px;">
                <div class="icon error animateErrorIcon" style="display: block;"><span class="x-mark animateXMark"><span class="line left"></span><span class="line right"></span></span>
                </div>
                <div class="icon warning" style="display: none;"> <span class="body"></span> <span class="dot"></span> </div>
                <div class="icon info" style="display: none;"></div>
                <div class="icon success" style="display: none;"> <span class="line tip"></span> <span class="line long"></span>
                    <div class="placeholder"></div>
                    <div class="fix"></div>
                </div>
                <div class="icon custom" style="display: none;"></div>
                <h2>Atención!</h2>
                <p class="lead text-muted" style="display: block;">La 'fecha desde' debe ser menor a la 'fecha hasta'. Por favor elija otra fecha.</p>
                <p>
                    
                    <button (click)="volver()" class="confirm btn btn-lg btn-danger btn-md waves-effect waves-light" tabindex="1" style="display: inline-block;">OK</button>
                </p>
            </div>
        </div>




