<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
                <form [formGroup]="form" class="form-horizontal" (ngSubmit)="buscarOferentes()">
                <div class="col-md-6">
                        <div class="panel panel-primary panel-border">
                            <div class="panel-heading">
                                <h3 class="panel-title">Filtro de Rubro</h3>
                                <p class="text-muted m-b-30 font-13">
                                        A continuación seleccione el filtro de los rubros y los tipos de rubros existentes para mejorar
                                        su busqueda.
                                    </p>
                            </div>
                            
                            <div class="panel-body">
                                <div class="form-group has-success">
                                    <label class="col-md-3 control-label" for="state-success">Tipo Rubro</label>
                                    <div class="col-md-6">
                                        <select name="tipoRubro" formControlName="tipoRubro" class="form-control" (change)="getRubrosByTipoRubro()">
                                            <option selected="selected">Seleccione</option>
                                            <option *ngFor="let tipo of tiposRubros" [ngValue]="tipo.nombreTipoRubro">{{tipo.nombreTipoRubro}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group has-error">
                                    <label class="col-md-3 control-label" for="state-success">Rubro</label>
                                    <div class="col-md-6">
                                        <select name="rubro" formControlName="rubro" class="form-control">
                                            <option selected="selected">Seleccione</option>
                                            <option *ngFor="let rubro of rubros" [ngValue]="rubro.nombreRubro">{{rubro.nombreRubro}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-md-6">
                        <div class="panel panel-purple panel-border">
                            <div class="panel-heading">
                                <h3 class="panel-title">Filtro de Zona Geografica</h3>
                                <p class="text-muted m-b-30 font-13">
                                        Seleccione en los siguientes campos los filtros de busqueda que usted desee obtener en las
                                        busquedas del sistema.
                                    </p>
                            </div>
                            <div class="panel-body">
                                    <div class="form-group has-success">
                                            <label class="col-md-3 control-label" for="state-success">Provincia</label>
                                            <div class="col-md-6">
                                                <select name="provincia" (change)="getDepartamentosByProvincia()" formControlName="provincia"
                                                    class="form-control">
                                                    <option selected="selected">Seleccione</option>
                                                    <option *ngFor="let provincia of provincias" [ngValue]="provincia.nombreProvincia">{{provincia.nombreProvincia}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group has-error" (change)="getLocalidadesByDepartamento()" *ngIf="showDepartamentos">
                                            <label class="col-md-3 control-label" for="state-error">Departamento</label>
                                            <div class="col-md-6">
                                                <select name="departamento" formControlName="departamento" class="form-control">
                                                    <option selected="selected">Seleccione</option>
                                                    <option *ngFor="let departamento of departamentos" [ngValue]="departamento.nombreDepartamento">{{departamento.nombreDepartamento}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group has-warning" *ngIf="showLocalidades">
                                            <label class="col-md-3 control-label" for="state-warning">Localidad</label>
                                            <div class="col-md-6">
                                                <select name="localidad" formControlName="localidad" class="form-control">
                                                    <option selected="selected">Seleccione</option>
                                                    <option *ngFor="let localidad of localidades" [ngValue]="localidad.nombreLocalidad">{{localidad.nombreLocalidad}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group has-error" *ngIf="!showLocalidades && showDepartamentos && form.controls['departamento'].value!= 'Seleccione'">
                                            <label class="col-md-3 control-label">Error</label>
                                            <div class="col-md-6">
                                                <p class="alert-danger"> No existen localidades para éste departamento.</p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>


                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-inverse btn-custom btn-rounded waves-effect waves-light m-b-30 btn-submit-form pull-right">Buscar</button>
                        
                    </div>
                   
                </div>
                
            </form>
        </div>
    </div>
</div>

<div class="col-sm-2 col-lg-12 col-md-2">
    <div class="panel panel-border panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">AQUÍ SE MOSTRARAN LOS RESULTADOS DE TU BUSQUEDA</h3>
        </div>
        <div class="panel-body">
            <p>
               Una vez filtradas la busqueda que usted desee, aquí se mostrara la lista de los oferentes de servicios.
            </p>
        </div>
    </div>

    <div class="row" *ngIf="oferentes != null && oferentes.length > 0">
        <div *ngFor="let oferente of oferentes">
            <div class="card-box m-b-10" >
                <div class="table-box opport-box">
                    <div class="table-detail">
                            <app-imagen [usuario]="oferente"></app-imagen>
                    </div>

                    <div class="table-detail">
                        <div class="member-info">
                                <h4 class="m-t-0" *ngIf="oferente.nombre && oferente.apellido"><b>{{oferente.nombre}} {{oferente.apellido}} </b></h4>
                                <h4 class="m-t-0" *ngIf="oferente.nombre==null || oferente.apellido==null"><b> {{oferente.username}} </b></h4>
                                <p class="text-dark m-b-0"><b>Rubro: </b> <span class="text-muted">{{oferente.rubros[0].nombreRubro}}</span></p>
                                <p class="text-dark m-b-0"><b>Experiencia: </b> <span class="text-muted">{{oferente.experiencia}}</span></p> 
                                
                                <!-- PARA 5 ESTRELLAS-->
                                <!-- <p class="text-dark m-b-0"><b>Calificaciones: </b> 
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                </p>  -->
                                
                                
                                <!-- PARA 4 ESTRELLAS-->
                                <!-- <p class="text-dark m-b-0"><b>Calificaciones: </b> 
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star"></span>
                                </p>  -->

                                <!-- PARA 3 ESTRELLAS-->
                                <p class="text-dark m-b-0"><b>Calificaciones: </b> 
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star"></span>
                                    <span class="text-muted fa fa-star"></span>
                                </p> 

                                <!-- PARA 2 ESTRELLAS-->
                                <!-- <p class="text-dark m-b-0"><b>Calificaciones: </b>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star"></span>
                                    <span class="text-muted fa fa-star"></span>
                                    <span class="text-muted fa fa-star"></span>
                                </p>  -->

                                <!-- PARA 1 ESTRELLAS-->
                                <!-- <p class="text-dark m-b-0"><b>Calificaciones: </b> 
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star text-warning"></span>
                                    <span class="text-muted fa fa-star"></span>
                                    <span class="text-muted fa fa-star"></span>
                                    <span class="text-muted fa fa-star"></span>
                                </p>  -->



                        </div>
                    </div>

                    <div class="table-detail lable-detail">
                        <span class="label label-purple">OFERENTE</span>
                    </div>
                    <div class="table-detail lable-detail">
                    <div *ngIf="verificarUsuarioAutenticado(); else notShown" class="table-detail table-actions-bar">
                        <a (click)="spinerSolicitarTrabajo(oferente.idUsuario)" class="btn btn-info waves-effect waves-light"><i class="fa fa-ticket"></i>  Solicitar Trabajo</a>
                    </div>
                    <ng-template #notShown>
                        <div class="table-detail table-actions-bar">
                            <a (click)="mostrarMensajeDeLoginRequerido()" href="#" [routerLink]="['/login']" class="btn btn-info waves-effect waves-light"><i class="fa fa-ticket"></i>  Solicitar Trabajo</a>
                        </div>
                    </ng-template>
                    <div class="table-detail">
                            <img class="media-object img-circle" alt="64x64" src="assets/images/estrella.png" style="width: 64px; height: 64px;">
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>




</div>



<div id="spinerHome" class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Cargando...</h4>
            </div>
            <div class="modal-body text-center">

                <span class="fa fa-spin fa-refresh fa-5x"></span>
            </div>
        </div>
    </div>
</div>


