
<div class="row">
    <div class="col-sm-12">
       
        <h4 class="page-title">Publicar Requerimiento</h4>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            
            <li class="active">
                Publicar
            </li>
        </ol>
    </div>
</div>

<div class="col-md-4 col-lg-3">
		<div class="profile-detail card-box">
			<div>
			
				<ul class="list-inline status-list m-t-20">
					<li>
						<h3 class="text-primary m-b-5">Recuerda actualizar tu domicilio en tu perfil.</h3>
						
					</li>
					<li>
						<h3 class="text-success m-b-5"><a class="md-2x md-location-on"></a></h3>
						
					</li>
				</ul>
				<button type="button" (click)="spinerIrPerfil()"  class="btn btn-danger btn-custom btn-rounded waves-effect waves-light">Ir a Perfil</button>
				<hr>
            </div>
            <ul class="list-inline status-list m-t-20">
                <li>
                    <h3 class="text-primary m-b-5">Destacarme!</h3><!-- Hardcodeado. Hay que calcular las solicitudes finalizadas del flaco -->
                    <p class="text-muted">Aprovecha los Beneficios de aparecer primero en las busquedas cuando los usuarios filtren en tu zona.</p>
                </li>
                <li>
                    <h3 class="text-success m-b-5">Mas trabajos!</h3><!-- Hardcodeado. Hay que calcular las solicitudes pendientes del flaco -->
                    <p class="text-muted">Al destacarte las solicitudes de trabajo aumentaran considerablemente!</p>
                </li>
            </ul>
            <button type="button" (click)="spinerDestacarme()" class="btn btn-danger btn-custom btn-rounded waves-effect waves-light">Destacarme</button>
            <hr>
		</div>
	</div>
<div class="row">
    <div class="col-lg-8">
            <form [formGroup]="form" (ngSubmit)="abrirModal()" class="well" >
            <div class="card-box">
                    
            <h5 class="text-muted text-uppercase m-t-0 m-b-20"><b>Publique su requerimiento</b></h5>
            <p class="text-muted m-b-15 font-13">
                    A continuación llene este formulario para crear el requerimiento con su detalle.
             </p>
            
            <div class="form-group m-b-20">
                <label>Titulo <span class="text-danger">*</span></label>
                <input type="text" formControlName="titulo" class="form-control" placeholder="Ej: Necesito albañil...">
                <span class="font-13 text-muted">El título debe ser breve y conciso!</span>
            </div>
            <p style="color: red" *ngIf="form.get('titulo').errors?.required && form.get('titulo').touched">Campo obligatorio</p>

            <div class="form-group m-b-20">
                <label>Tiempo Estimado <span class="text-danger">*</span></label>
                <input type="number" formControlName="tiempoEstimado" placeholder="ej, 60" class="form-control autonumber">
                <span class="font-13 text-muted">Ingrese la cantidad de dias que desea que se realice su requerimiento</span>
                <!-- <input type="text" formControlName="tiempoEstimado" class="form-control" placeholder="ej, 2 dias"> -->
            </div>
            <p style="color: red" *ngIf="form.get('tiempoEstimado').errors?.required && form.get('tiempoEstimado').touched">Campo obligatorio</p>
            
            <div class="form-group m-b-20">
                <label>Precio a Pagar <span class="text-danger">*</span></label>
                <input type="number" formControlName="precioApagar" class="form-control" placeholder="ej, 562">
                <span class="font-13 text-muted">Ingrese la cantidad de $ que desea pagar por el trabajo terminado</span>
            </div>
            <p style="color: red" *ngIf="form.get('precioApagar').errors?.required && form.get('precioApagar').touched">Campo obligatorio</p>
           
            <div class="form-group m-b-20">
                <label>Descripcion <span class="text-danger">*</span></label>
                <p class="text-muted m-b-15 font-13">
                    Sea lo mas especifico posible en la descripcion, por que de ello dependera el buen entendimiento del trabajo a realizar.
             </p>
                <textarea class="form-control" formControlName="descripcion" rows="6" placeholder="Ingrese la descripcion"></textarea>
            </div>
            <p style="color: red" *ngIf="form.get('descripcion').errors?.required && form.get('descripcion').touched">Campo obligatorio</p>
            
            <div class="form-group">
                    <label class="control-label">Seleccione Archivo</label>
                    <p class="text-muted m-b-15 font-13">
                            Puede subir un archivo para detallar mejor aún el requerimiento. 
                     </p>
                     <lib-ngx-notification></lib-ngx-notification>

                    <input type="file" class="filestyle" formControlName="archivoUno" name="archivoUno" data-buttonname="btn-white" (change)="addFile($event,0)">
                    <br>
                    
                    
                    <div *ngIf="this.form.controls['archivoUno'].value != ''" class="progress m-b-5">
                        <div class="progress-bar progress-bar-purple wow animated progress-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"  style="width: 100%;">
                            <span class="sr-only">{{uploadPercent | async | number:'1.0-0'}}% Complete</span>
                        </div>
                    </div>


                    <div *ngIf="this.form.controls['archivoUno'].value != ''">{{uploadPercent | async | number:'1.0-0'}} % subido</div>
            
                    <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-custom waves-effect waves-light pull-right">Publicar</button>
                        </div>
                </div>

            
        
        </div>
    </form>
    </div> 
</div>

<div id="sa-warningt01" style="display: none;">
    <div class="sweet-alert showSweetAlert visible" tabindex="-1" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-timer="null" style="display: block; margin-top: -189px;">
        <div class="icon error" style="display: none;"><span class="x-mark"><span class="line left"></span><span class="line right"></span></span>
        </div>
        <div class="icon warning" style="display: none;"> <span class="body"></span> <span class="dot"></span> </div>
        <div class="icon info" style="display: none;"></div>
        <div class="icon success animate" style="display: block;"> <span class="line tip animateSuccessTip"></span> <span class="line long animateSuccessLong"></span>
            <div class="placeholder"></div>
            <div class="fix"></div>
        </div>
        <div class="icon custom" style="display: none;"></div>
        <h2>Éxito!</h2>
        <p class="lead text-muted" style="display: block;">Publicacion Realizada</p>
        <p>
            <button (click)="volver()" class="confirm btn btn-lg btn-default btn-white btn-md waves-effect" tabindex="2" style="display: inline-block;">Ok</button>
        </p>
    </div>
</div> 

<div id="sa-warningt" style="display: none;">
    <div class="sweet-alert showSweetAlert visible" tabindex="-1" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-timer="null" style="display: block; margin-top: -163px;">
        <div class="icon error" style="display: none;">
            <span class="x-mark">
                <span class="line left"></span>
                <span class="line right"></span>
            </span>
        </div>
        <div class="icon warning" style="display: none;">
            <span class="body"></span> 
            <span class="dot"></span>
        </div> 
        <div class="icon info" style="display: none;"></div>
        <div class="icon success" style="display: none;"> 
            <span class="line tip"></span>
            <span class="line long"></span>
            <div class="placeholder"></div>
            <div class="fix"></div>
        </div> 
        <div class="icon success animate" style="display: block;"> <span class="line tip animateSuccessTip"></span> <span class="line long animateSuccessLong"></span>
            <div class="placeholder"></div>
            <div class="fix"></div>
        </div>
        <h2>Todo listo!</h2>
        <p class="lead text-muted" style="display: block;">Desea publicar su requerimiento.</p>
        <p>
            <button class="cancel btn btn-lg btn-white btn-md waves-effect btn-default" tabindex="2">Cancel</button>
            <button (click)="guardarRequerimiento()" class="confirm btn btn-lg btn-primary" tabindex="1" style="display: inline-block;">OK</button>
        </p>
    </div>
</div> 



<div id="spinerRequerimiento" class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="mySmallModalLabel">Cargando...</h4>
                </div>
                <div class="modal-body text-center">
    
                    <span class="fa fa-spin fa-refresh fa-5x"></span>
                </div>
            </div>
        </div>
    </div>
    