<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card-box">
        <div class="row">
          <div class="col-md-12">
            <h4 class="m-t-0 header-title"><b>Perfil del usuario</b></h4>
            <p class="text-muted m-b-30 font-13">
              Se muestra el perfil del usuario seleccionado como demandante.
            </p>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <div class="card-box p-b-0">
                <a class="center-block text-center text-dark">
                  <img [src]="imagen" class="thumb-lg img-thumbnail img-circle" alt="">
                  <div class="h5 m-b-0"><strong> {{usuario?.username}}</strong></div>
                </a>
                <div class="bg-custom pull-in-card p-20 widget-box-two m-b-0 m-t-30 list-inline text-center row">
                  <div class="col-xs-4">
                    <h4 class="text-white m-0 font-600">No se que poner aca</h4>
                    <p class="text-white m-b-0"></p>
                  </div>
                  <div class="col-xs-4">
                    <h4 class="text-white m-0 font-600">Estrellas</h4>
                    
                        <div style="display: unset;" *ngFor="let item of toArray(usuario?.promedioCalificacion)">
                            <span class="fa fa-star text-warning"></span>
                        </div>
                        <div style="display: unset;" *ngFor="let item of toArray(cantidadEstrellasNegativas)">
                            <span class="fa fa-star text-dark"></span>
                        </div>
                  </div>
                  <div class="col-xs-4">
                    <h4 class="text-white m-0 font-600">{{usuario?.mail}}</h4>
                    <p class="text-white m-b-0"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-2 col-lg-12 col-md-2">
        <div class="panel panel-border panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">INFORMACION COMO DEMANDANTE</h3>
            </div>
            <div class="panel-body">
                <p>
                   Aqui se mostrará los comentarios que ha recibido el usuario como demandante de servicios.
                </p>
            </div>
        </div>
        <div class="card-box">
          <div class="comment" *ngFor="let com of comentarios">
            <app-avatar [id]="com.idUsuario"></app-avatar> 
                  <div class="comment-body">
                      <div class="comment-text">
                          <div class="comment-header">
                              <a [routerLink]="['/sios/perfil-oferente',com.idUsuario]" >{{com.username}}</a><span>{{com.fechaCalificacion | date: 'dd/M/yyyy'}}</span>
                          </div>
                          <p> <b>COMENTARIO:</b>
                            {{com.comentario}}
                          </p>
                          <!-- Aca hay que hacer un ngif por cada calificacion (si recibio una calificacion de una estrella mostrar una estrella, si recibio dos estrellas mostrar dos estrellas.... ) -->
                          <b>Calificación: </b> 
                          <div style="display: unset;" *ngFor="let cal of toArray(com.calificacion)">
                            <span class="text-muted fa fa-star text-warning"></span>
                          </div>
                          <div style="display: unset;" *ngFor="let cal of toArray( 5 - com.calificacion)"> <!-- 5 - com.calificacion -->
                            <span class="text-muted fa fa-star"></span>
                          </div>  
                      </div>
                  </div>
          </div>
      </div>
      </div>