<div class="row">
  <div class="col-sm-12">
      <h4 class="page-title">Solicitudes</h4>
      <ol class="breadcrumb">
          <li><a [routerLink]="['/sios/home']">Home</a></li>
          <li class="active">Solicitudes</li>
      </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
      <div class="card-box m-b-10" *ngFor="let solicitud of solicitudes">
          <div class="table-box opport-box">
              <div class="table-detail">
                  <div class="member-info">
                      <h4 class="m-t-0"><b>{{solicitud.descripcion}}</b></h4>
                      <app-usuario-item [username]="solicitud.usuarioDemandante"></app-usuario-item>
                      <!-- Se muestra si el estado de la solicitud es finalizada -->
                      <p class="text-dark m-b-5"><b>Calificacion: </b> <span class="text-muted">5</span></p>
                  </div>
              </div>
              <div class="table-detail lable-detail">
                  <span class="label label-info">{{solicitud.nombreEstadoSolicitud | uppercase}}</span>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="profile-detail card-box">
          <div>
              <ul class="list-inline status-list m-t-20">
                  <li>
                      <h3 class="text-primary m-b-5">Destacarme!</h3><!-- Hardcodeado. Hay que calcular las solicitudes finalizadas del flaco -->
                      <p class="text-muted">Aprovecha los Beneficios de aparecer primero en las busquedas cuando los usuarios filtren en tu zona.</p>
                  </li>
                  <li>
                      <h3 class="text-success m-b-5">Mas trabajos!</h3><!-- Hardcodeado. Hay que calcular las solicitudes pendientes del flaco -->
                      <p class="text-muted">Al destacarte las solicitudes de trabajo aumentaran considerablemente!</p>
                  </li>
              </ul>
              <button type="button" [routerLink]="['/sios/destacar-perfil']" class="btn btn-danger btn-custom btn-rounded waves-effect waves-light">Destacarme</button>
              <hr>
          </div>
      </div>
  </div>
</div>