<div class="row">
    <div class="col-sm-12">
        <h4 class="page-header">Oferta sobre el requerimiento del usuario</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Descripcion</h3>
            </div>
            <div class="panel-body">
                <p>
                    <b>Necesito albañil para realizar una churrasquera en el patio de mi casa. Necesitaria preferentemente que contenga en su interior ladrillo refractario y de ladrillo visto. Tambien necesito un veredin alrrededor de la misma. Necesito albañil para realizar una churrasquera en el patio de mi casa. Necesitaria preferentemente que contenga en su interior ladrillo refractario y de ladrillo visto. Tambien necesito un veredin alrrededor de la misma.</b>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-color panel-custom">
            <div class="panel-heading">
                <h3 class="panel-title">Tiempo de terminacion</h3>
            </div>
            <div class="panel-body">
                <p>
                    <b>Seba Ruiz</b> necesita que realices el trabajo en no menos de <b>20 dias.</b> Si consideras que puedes hacerlo en menos tiempo realiza una mejor oferta en el detalle de tu descripcion.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-color panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Dinero</h3>
            </div>
            <div class="panel-body">
                <p>
                    <b>Seba Ruiz</b> esta dispuesto a pagarte $ <b>3500</b> por el trabajo terminado. Si consideras que es poco o mucho debes detallarlo en tu descripcion asi el usuario puede mejorar su eleccion.
                </p>
            </div>
        </div>
        
    </div>
    <div class="col-lg-8">
        <form [formGroup]="form" class="well">
            <span class="input-icon icon-right">
                <textarea rows="2" class="form-control"
                          placeholder="Descripcion de tu oferta"></textarea>
            </span>
            <div class="p-t-10 pull-right">
                <a class="btn btn-sm btn-primary waves-effect waves-light">Enviar</a>
            </div>
            <ul class="nav nav-pills profile-pills m-t-10">
                <!-- <li>
                    <a href="#"><i class="fa fa-user"></i></a>
                </li> -->
               
            </ul>
    
        </form>
    </div>
    
</div>