<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Los 4 Rubros Más Ofrecidos</h4>
    <ol class="breadcrumb">
      <li><a >Home</a></li>
      <li class="active">Rubros</li>
    </ol>
  </div>
</div>
<form [formGroup]="reporteForm" (ngSubmit)="generarReporte()">
<div class="row" id="reporteRubroMasOfrecido">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-lg-10">
                    <h4 class="m-t-0 header-title"><b>Rubros más ofrecidos</b></h4>
                    <p class="text-muted font-13 m-b-30">
                       Seleccione el rango de fechas el que desee consultar los rubros más ofrecidos y luego haz click
                       en 'Actualizar' y podrá visualizar los 4 rubros más ofrecidos en el rango de fecha seleccionado.
                     
                    </p>
                </div>
                <div class="col-xs-12">
                    <label>Desde</label>
                    <div class="input-group m-b-15">
                        <input type="date" class="form-control" formControlName="fechaDesde" style="width: 200px;">
                    </div><!-- input-group -->
                      <label>Hasta</label>
                    <div class="input-group m-b-15">
                        <input type="date" class="form-control" formControlName="fechaHasta" style="width: 200px;">
                    </div><!-- input-group -->
                    <div>
                      <button type="submit" class="btn btn-primary waves-effect waves-light btn-xs">Actualizar</button>
                      <!-- <button type="button" class="btn btn-primary pull-right" title="Exportar a PDF"><i class="fa fa-file-pdf-o"></i></button> <-->
                      <div *ngIf="showGrafico"><a class="pull-right" style="cursor: pointer;" (click)="exportarPDF()"><i class="fa fa-file-pdf-o"> Exportar a PDF</i></a></div>
                    </div>
                    <div >
                      <div style="display: block">
                        <canvas *ngIf="showGrafico"
                        baseChart [datasets]="barChartData" 
                        [labels]="barChartLabels" 
                        [options]="barChartOptions"
                        [legend]="barChartLegend" 
                        [chartType]="barChartType" 
                        (chartHover)="chartHovered($event)" 
                        (chartClick)="chartClicked($event)"></canvas>
                      </div>
                    </div>
                    <div class="card-box" >
                            <div class="row" *ngIf="!showGrafico && showError">
                                    <!-- <h4 class="m-t-0 header-title"><b>Rubros más demandados</b></h4> -->
                                    <p class="text-muted font-13 m-b-30">
                                       No existen datos para las fechas elegidas.
                                    </p>
                                </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>


<div id="modalFecha" style="display: none;">
    <div class="sweet-alert showSweetAlert" tabindex="-1" data-backdrop="static" data-has-cancel-button="true" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-timer="null" style="display: block; margin-top: -165px;">
        <div class="icon error animateErrorIcon" style="display: block;"><span class="x-mark animateXMark"><span class="line left"></span><span class="line right"></span></span>
        </div>
        <div class="icon warning" style="display: none;"> <span class="body"></span> <span class="dot"></span> </div>
        <div class="icon info" style="display: none;"></div>
        <div class="icon success" style="display: none;"> <span class="line tip"></span> <span class="line long"></span>
            <div class="placeholder"></div>
            <div class="fix"></div>
        </div>
        <div class="icon custom" style="display: none;"></div>
        <h2>Atención!</h2>
        <p class="lead text-muted" style="display: block;">La 'fecha desde' debe ser menor a la 'fecha hasta'. Por favor elija otra fecha.</p>
        <p>
            
            <button (click)="volver()" class="confirm btn btn-lg btn-danger btn-md waves-effect waves-light" tabindex="1" style="display: inline-block;">OK</button>
        </p>
    </div>
</div>