<div class="container">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Destacarme</h4>
            <ol class="breadcrumb">
                <li><a >Home</a></li>
                <li class="active">Tabla de Precio</li>
            </ol>
        </div>
    </div>
    <div class="row pricing-plan">
        <div class="col-md-12">
            <div class="col-sm-4">
                <div class="panel panel-border panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mayor Oportunidad</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Al encontrarte primero en las busquedas de los usuarios que filtren en tu zona de trabajo tendras mayores oportunidades de ser elegido para realizar el trabajo que desee el mismo. Recuerda tener una buena reputación para que los usuarios confíen en tí.
                        </p>
                    </div>
                </div>
            </div>
        <div class="row">
                <!-- <div class="col-sm-6 col-md-6 col-lg-4"></div> -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="price_card text-center">
                        <div class="pricing-header bg-primary">
                            <span class="price">$200</span>
                            <span class="name">DESTACADO</span>
                        </div>
                        <ul class="price-features">
                            <li>Mayor oportunidad</li>
                            <li>Primero en las busquedas</li>
                            <li>Mayor insersion laboral</li>
                            <li>Aumenta tu trabajo</li>
                            <li>Se el primero</li>
                        </ul>
                        <button class="btn btn-primary waves-effect waves-light w-md">Destacarme</button>
                    </div> <!-- end Pricing_card -->
                </div> <!-- end col -->
                <div class="col-sm-4">
                        <div class="panel panel-border panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Mayor insercion laboral</h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Tendrás una mayor inserción en el mercado laboral, por lo que podrás aprovechar tus los beneficios de destacarte para aumentar tu reputación. Recuerda que tus trabajos serán calificados por los usuarios, tratá de ser el mejor en tu zona!
                                </p>
                            </div>
                        </div>
                    </div>
            </div> <!-- end row -->
        </div> <!-- end Col-10 -->
    </div> <!-- end row -->
    <div class="row">
        <!-- Pricing Item -->
        <div class="col-sm-4">
                <div class="panel panel-border panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Precio Mensual</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            El precio es por un mes. Cuando se venza tu destacado SIOS te hara saber que tienes que renovar para seguir disfrutando tus beneficios de ser siempre el primero.
                        </p>
                    </div>
                </div>
            </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="pricing-item">
                <div class="pricing-item-inner">
                    <div class="pricing-wrap">
                        <!-- Icon (Simple-line-icons) -->
                        <div class="pricing-icon">
                            <i class="fa fa-credit-card-alt text-success"></i>
                        </div>
                        <!-- Pricing Title -->
                        <div class="pricing-title text-success">
                            DESTACADO
                        </div>
                        <!-- Pricing Features -->
                        <div class="pricing-features">
                            <ul class="sf-list pr-list">
                                <li>Precio Mensual</li>
                                <li>Aviso de Vencimiento</li>
                                <li>Debito o Credito</li>
                                <li>1 Usuario</li>
                                <li>1 Cuenta</li>
                            </ul>
                        </div>
                        <div class="pricing-num">
                            <sup>$</sup>200
                        </div>
                        <div class="pr-per">
                            por mes
                        </div>
                        <!-- Button -->
                        <div class="pr-button">
                            <button type="button" (click)="destacarPerfil()" class="btn btn-success w-md waves-effect waves-light">Destacarme</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
                <div class="panel panel-border panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">1 Cuenta</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            El destacado es para tu cuenta y solamente para tu cuenta. No podras transferir tu destacado a otra cuenta de usuario. Tampoco desde tu usuario podra destacar a otra cuenta.
                        </p>
                    </div>
                </div>
            </div>
        <!-- End Pricing Item -->
    </div>
</div> <!-- end container -->