<div class="row">
    <div class="col-lg-12">
        <div class="tabs-vertical-env">
            <ul class="nav tabs-vertical">
                <li class="active">
                    <a href="#intro" data-toggle="tab" aria-expanded="true">1. Introducción a SIOS</a>
                </li>
                <li class="">
                    <a href="#registro" data-toggle="tab" aria-expanded="true">2. Registro en el sistema.</a>
                </li>
                <li class="">
                    <a href="#perfil" data-toggle="tab" aria-expanded="true">3. Perfil de usuario.</a>
                </li>
                <li class="">
                    <a href="#destacar" data-toggle="tab" aria-expanded="true">4. Destacar usuario</a>
                </li>
                <li class="">
                    <a href="#ofrecer" data-toggle="tab" aria-expanded="true">5. Ofrecer un servicio</a>
                </li>
                <li class="">
                    <a href="#busqueda" data-toggle="tab" aria-expanded="true">6. Búsqueda inteligente de un oferente</a>
                </li>
                <li class="">
                    <a href="#realizar" data-toggle="tab" aria-expanded="true">7. Realizar un requerimiento</a>
                </li>
                <li class="">
                    <a href="#ofertar" data-toggle="tab" aria-expanded="true">8. Ofertar un requerimiento</a>
                </li>
                <li class="">
                    <a href="#valoracion" data-toggle="tab" aria-expanded="true">9. Valoración de un usuario</a>
                </li>
                <li class="">
                    <a href="#reportes" data-toggle="tab" aria-expanded="true">10. Reportes de usuario</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="intro">
                    <h3>Introducción a SIOS</h3>
                    <p>Primera clase.</p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/urp3vBO7EZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="tab-pane" id="registro">
                    <h3>Registro en el sistema</h3>
                    <p>Segunda clase.</p>
                </div>
                <div class="tab-pane" id="perfil">
                    <h3>Perfil de un usuario</h3>
                    <p>Tercer clase.</p>
                </div>
                <div class="tab-pane" id="destacar">
                    <h3>Destacar un perfil</h3>  
                    <p>Cuarta clase.</p>
                </div>
                <div class="tab-pane" id="ofrecer">
                    <h3>Ofrecer un servicio</h3>  
                    <p>Quinta clase.</p>
                </div>
                <div class="tab-pane" id="busqueda">
                    <h3>Búsqueda inteligente de un oferente</h3>
                    <p>Sexta clase.</p>
                </div>
                <div class="tab-pane" id="realizar">
                    <h3>Realizar un requerimiento</h3>
                    <p>Séptima clase.</p>
                </div>
                <div class="tab-pane" id="ofertar">
                    <h3>Realizar una oferta en un requerimiento</h3>
                    <p>Octava clase.</p>
                </div>
                <div class="tab-pane" id="valoracion">
                    <h3>Valoración de un usuario</h3>
                    <p>Novena clase.</p>
                </div>
                <div class="tab-pane" id="reportes">
                    <h3>Reportes de usuario</h3>
                    <p>Décima clase.</p>
                </div>
            </div>
        </div>
    </div>
</div>  <!-- end row -->