<div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="profile-detail card-box">
                    <div>
                        <img src="/assets/images/users/avatar-2.jpg" class="img-circle" alt="profile-image">

                        <ul class="list-inline status-list m-t-20">
                            <li>
                                <h3 class="text-primary m-b-5">456</h3>
                                <p class="text-muted">Trabajos Realizador</p>
                            </li>

                            <li>
                                <h3 class="text-success m-b-5">20</h3>
                                <p class="text-muted">En curso</p>
                            </li>
                        </ul>

                        <button type="button" class="btn btn-primary btn-custom btn-rounded waves-effect waves-light">Mas Info</button>

                        <hr>
                        <h4 class="text-uppercase font-600">Sobre Mi</h4>
                        <p class="text-muted font-13 m-b-30">
                            Hola soy Seba Ruiz, soy desarrollador FrontEnd Angular con 5 años de experiencia. Te aseguro que no te vas a arrepentir
                        </p>

                        <div class="text-left">
                            <p class="text-muted font-13"><strong>Nombre :</strong> <span class="m-l-15">Seba Ruiz</span></p>

                            <p class="text-muted font-13"><strong>Mobil :</strong><span class="m-l-15">(123) 123 1234</span></p>

                            <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">seba.lruiz@gmail.com</span></p>

                            <p class="text-muted font-13"><strong>Localizacion :</strong> <span class="m-l-15">Mendoza</span></p>

                        </div>


                       
                    </div>

                </div>

                <div class="card-box">
                    <h4 class="m-t-0 m-b-20 header-title"><b>Usuarios a los que trabajaste <span class="text-muted">(154)</span></b></h4>

                    <div class="friend-list">
                        <a href="#">
                            <img src="/assets/images/users/avatar-1.jpg" class="img-circle thumb-md" alt="friend">
                        </a>

                        <a href="#">
                            <img src="/assets/images/users/avatar-2.jpg" class="img-circle thumb-md" alt="friend">
                        </a>

                        <a href="#">
                            <img src="/assets/images/users/avatar-3.jpg" class="img-circle thumb-md" alt="friend">
                        </a>

                        <a href="#">
                            <img src="/assets/images/users/avatar-4.jpg" class="img-circle thumb-md" alt="friend">
                        </a>

                        <a href="#">
                            <img src="/assets/images/users/avatar-5.jpg" class="img-circle thumb-md" alt="friend">
                        </a>

                        <a href="#">
                            <img src="/assets/images/users/avatar-6.jpg" class="img-circle thumb-md" alt="friend">
                        </a>

                        <a href="#">
                            <img src="/assets/images/users/avatar-7.jpg" class="img-circle thumb-md" alt="friend">
                        </a>

                        <a href="#" class="text-center">
                            <span class="extra-number">+89</span>
                        </a>
                    </div>
                </div>
            </div>
			<div class="row">
			<div class="col-sm-8">
				<div class="card-box">
					<h4 class="m-t-0 header-title"><b>Mi perfil</b></h4>
					<p class="text-muted m-b-30 font-13">
						Complete su perfil rellenando todos los casilleros del siguiente formulario
					</p>
					<div class="row">
						<div class="col-md-10">
							<form [formGroup]="form" class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-md-2 control-label" for="state-success">Nombre</label>
									<div class="col-md-10">
										<input type="text" id="state-success" name="state-success" class="form-control" placeholder="Ingrese su nombre">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">Apellido</label>
									<div class="col-md-10">
										<input type="text" class="form-control" placeholder="Ingrese su apellido">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label" for="example-email">Email</label>
									<div class="col-md-10">
										<input type="email" id="example-email" name="example-email" class="form-control" placeholder="Ingrese su mail">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label" for="example-email">Nombre de usuario</label>
									<div class="col-md-10">
										<input type="text" id="example-email" name="example-email" class="form-control" placeholder="Ingrese su nombre de usuario">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label" for="example-email">Fecha de Nacimiento</label>
									<div class="col-md-10">
										<input type="date" id="example-email" name="example-email" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">Sexo</label>
									<div class="col-sm-10">
										<select class="form-control">
											<option>Hombre</option>
											<option>Mujer</option>
											<option>Indefinido</option>
										</select>
										
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">Breve descripcion</label>
									<div class="col-md-10">
										<textarea class="form-control" rows="5"></textarea>
									</div>
								</div>
								


							</form>
						</div>

						
					</div>
				</div>
			</div>
		</div>

            
</div>