 <!-- Navigation Bar-->
 <header id="topnav">
  <div class="topbar-main">
      <div class="container">

          <!-- Logo container-->
          <div class="logo">
              <a href="~/Home/Index" class="logo">
                  <span>
                      SI<i class="md md-album"></i>S
                  </span>
              </a>
          </div>
          <!-- End Logo container-->


          <div class="menu-extras">

              <ul class="nav navbar-nav navbar-right pull-right">
                  
              </ul>
              <div class="menu-item">
                  <!-- Mobile menu toggle-->
                  <a class="navbar-toggle">
                      <div class="lines">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                  </a>
                  <!-- End mobile menu toggle-->
              </div>
          </div>

      </div>
  </div>

  <div class="navbar-custom">
      <div class="container">
          <div id="navigation">
              <!-- Navigation Menu-->
              <ul class="navigation-menu">
                  <li class="has-submenu">
                      <a href="#"><i class="md md-dashboard"></i>Buscar Oferente</a>
                      <ul class="submenu">
                          <li>
                              <a href="index.html">Por Zona Geografica</a>
                          </li>
                          <li>
                              <a href="dashboard_3.html">Por Rubro</a>
                          </li>
                          <li>
                              <a href="dashboard_4.html">Por Tipo de Rubro</a>
                          </li>
                      </ul>
                  </li>
                  <li class="has-submenu">
                      <a href="#"><i class="md md-color-lens"></i>Publicar Requerimiento</a>
                      <ul class="submenu">
                          <li><a href="~/Home/PublicarRequerimiento">Publicar</a></li>
                          
                      </ul>
                  </li>



                  <li class="has-submenu pull-right">
                      <a href="~/Home/Login"><i class="fa fa-linkedin"></i>Iniciar Sesion</a>

                  
                  </li>
                  <li class="has-submenu pull-right">
                      <a href="~/Home/Registrarse"><i class="fa fa-plus-square"></i>Registrarse</a>
                      
                  </li>

              </ul>
              <!-- End navigation menu        -->
          </div>

      </div> <!-- end container -->
  </div> <!-- end navbar-custom -->

</header>
<!-- End Navigation Bar-->