<div id="topnav">
    <div class="topbar-main">
        <div class="container">

            <!-- Logo container-->
            <div class="logo">
                <a href="index.html" class="logo"><span>Si<i
                    class="md md-album"></i>s</span></a>
            </div>
            <!-- End Logo container-->


            <div class="menu-extras">

                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="dropdown navbar-c-items">
                        <a href="#" class="dropdown-toggle waves-effect waves-light profile" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)"><i class="ti-user text-custom m-r-10"></i> Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)" [routerLink]="['/login']"><i class="ti-power-off text-danger m-r-10"></i> Salir</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>

        </div>
    </div>
    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li class="has-submenu" routerLinkActive="active">
                        <a href="#" [routerLink]="['home']"><i class="md md-shopping-cart"></i>Home</a>
                    </li>
                    <li class="has-submenu" routerLinkActive="active">
                        <a href="#"><i class="fa fa-cog"></i>Configuración</a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li><a href="#" [routerLink]="['estadoSolicitud']">Estados Solicitud</a></li>
                                    <li><a href="#" [routerLink]="['rubro']">Rubros</a></li>
                                    <li><a href="#" [routerLink]="['tipoRubro']">Tipos de Rubro</a></li>
                                    <li><a href="#" [routerLink]="['tipoUsuario']">Tipos de Usuario</a></li>
                                    <li><a href="#" [routerLink]="['usuario']">Usuario</a></li>
                                    <li><a href="#" [routerLink]="['provincia']">Provincia</a></li>
                                    <li><a href="#" [routerLink]="['medioPago']">Medios de Pago</a></li>
                                    <li><a href="#" [routerLink]="['estadoDestacado']">Estados Destacados</a></li>
                                    <li><a href="#" [routerLink]="['estadoRequerimiento']">Estados Requerimiento</a></li>
                                    <li><a href="#" [routerLink]="['departamento']">Departamentos</a></li>
                                    <li><a href="#" [routerLink]="['localidad']">Localidades</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="estaLogueado" class="has-submenu pull-right">
                        <a href="#" (click)="cerrarSesion()"><i class="glyphicon glyphicon-off"></i>Cerrar sesión</a>
                    </li>
                    <li *ngIf="!estaLogueado" class="has-submenu pull-right">
                        <a href="#" [routerLink]="['/login']"><i class="glyphicon glyphicon-user"></i>Iniciar sesión</a>
                    </li>
                </ul>
                <!-- End navigation menu        -->
            </div>
        </div>
        <!-- end container -->
    </div>
    <!-- end navbar-custom -->
</div>